@import "tailwindcss";

body {
  background-color: #bfdaeb;
  min-height: 100vh;
}


.hide-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background: #1d4ed8;
  border-radius: 10px;
}

.hide-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}